body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-align:center;
}

nav{
  display:flex;
  justify-content: space-around;
}

form{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

button{
  width: 20%;
}

label{
  margin: 10px;
}

label{
  display:flex;
  flex-direction: column;
}

 .toppings{
   display: flex;
  flex-direction: row;
}